=btn-color($color, $light)
	$lighter: tint($color, 25%)
	$darker: shade($color, 25%)

	color: $white
	border-color: $darker

	+linear-gradient(0deg, $color, $lighter)
	+text-shadow($darker)

	&:active
		+linear-gradient(180deg, $color, $lighter)
		+text-shadow($darker, -$text-shadow-top)

		&:hover
			box-shadow: 1px 2px 1px $gray, inset 0 0 6px 2px $light

	&:hover
		box-shadow: 2px 3px 1px $gray, inset 0 0 6px 2px $light

.btn, #{$all-buttons}
	display: inline-block
	margin-right: $base-spacing / 4
	margin-bottom: $base-spacing / 2
	padding: $base-padding
	border-radius: $small-border-radius
	border: $base-border
	cursor: pointer
	text-decoration: none
	font-size: $base-font-size

	+box-shadow($gray)
	+btn-color($gray, $light-gray)

	&:active
		box-shadow: 1px 2px 1px $gray

	&.sm
		padding: $small-padding
		border-radius: $small-border-radius

	&.lg
		padding: $large-padding
		border-radius: $small-border-radius

	&.blue
		+btn-color($blue, $light-blue)

	&.red
		+btn-color($red, $light-red)

	&.yellow
		+btn-color($yellow, $light-yellow)

	&.green
		+btn-color($green, $light-green)

	&.purple
		+btn-color($purple, $light-purple)

	&.orange
		+btn-color($orange, $light-orange)
