@mixin btn-color($color) {
	$lighter: tint($color, 25%);
	$darker: shade($color, 25%);

	@include linear-gradient(0deg, $color, $lighter);

	color: $white;
	border-color: $darker;

	text-shadow: text-shadow($darker);

	&:hover { box-shadow: box-shadow($gray), $button-glow; }
	&:active {
		@include linear-gradient(180deg, $color, $lighter);
		&:hover { box-shadow: box-shadow($gray, 2px, 1px), $button-glow; }
	}
}

$button-glow: inset 0 0 6px $white;

$button-margin-right: $base-spacing / 4;
$button-margin-bottom: $base-spacing / 2;

.btn, #{$all-buttons} {
	display: inline-block;
	margin-right: $button-margin-right;
	margin-bottom: $button-margin-bottom;
	padding: $base-padding;
	border-radius: $small-border-radius;
	border: $base-border;
	cursor: pointer;
	box-shadow: box-shadow($gray);
	text-decoration: none;
	font-size: 1em;

	&:active { box-shadow: box-shadow($gray); }

	&.sm { padding: $small-padding; border-radius: $small-border-radius; }
	&.lg { padding: $large-padding; border-radius: $small-border-radius; }

	@include btn-color($gray);

	&.blue   { @include btn-color($blue);   }
	&.red    { @include btn-color($red);    }
	&.yellow { @include btn-color($yellow); }
	&.green  { @include btn-color($green);  }
	&.purple { @include btn-color($purple); }
	&.orange { @include btn-color($orange); }
}
