=card-width($screen, $cols, $margin: $block-spacing)
	width: #{$screen / $grid-columns * $cols - $margin * 2}

.card
	margin-bottom: $base-margin-bottom
	padding: $base-padding // why use !important here?
	border: $base-border
	border-width: 0 $base-border-width $base-border-width
	border-radius: $base-border-radius
	background: $background-color

	header
		background: inherit
		margin: (-$base-spacing / 2) (-$base-spacing) ($base-spacing / 2)
		padding: $base-padding
		color: $background-color
		border-bottom: $base-border
		+border-top-radius($base-border-radius)

		a
			color: $background-color
			text-decoration: none

		.caret
			cursor: pointer
			float: right

	footer
		margin: ($base-spacing / 2) (-$base-spacing) (-$base-spacing / 2)
		padding: ($base-spacing / 2) $base-spacing
		border-top: $base-border
		+border-bottom-radius($base-border-radius)

		&.btns
			border-style: none
			+display(flex)

			.btn
				+flex(1 1)
				margin-right: $base-spacing

				&:last-child
					margin-right: 0

	+card-color($gray, $light-gray, $dark-gray)

	&.modal
		+transition(visibility 0s linear 0.3s, opacity 0.3s ease)
		visibility: hidden
		opacity: 0
		position: fixed
		z-index: 201
		left: $block-spacing
		right: $block-spacing

		&.visible
			+transition-delay(0s)
			visibility: visible
			opacity: 1

	&.alert
		header, footer
			display: none

	&.collapsed
		overflow-y: hidden
		padding: 0

		header
			margin: 0

	&.red, &.danger, &.error
		+card-color($red, $light-red, $dark-red)

	&.green, &.success
		+card-color($green, $light-green, $dark-green)

	&.blue, &.primary
		+card-color($blue, $light-blue, $dark-blue)

	&.cyan, &.info
		+card-color($cyan, $light-cyan, $dark-cyan)

	&.magenta
		+card-color($magenta, $light-magenta, $dark-magenta)

	&.yellow, &.warning
		+card-color($yellow, $light-yellow, $dark-yellow)

	&.purple
		+card-color($purple, $light-purple, $dark-purple)

	&.orange
		+card-color($orange, $light-orange, $dark-orange)

.overlay
	+transition(visibility 0s linear 0.3s, opacity 0.3s ease)
	visibility: hidden
	opacity: 0
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	z-index: 200

	&.visible
		+transition-delay(0s)
		visibility: visible
		opacity: .7

	&.dim
		background: #666

.no-scroll
	height: 100%
	overflow: hidden

+screen-min-width($screen-sm-width)
	.card.modal
		+card-width($screen-sm-width, 12)
		box-sizing: border-box

+screen-min-width($screen-md-width)
	.card.modal
		+card-width($screen-md-width, 6)
		@for $num from 1 through $grid-columns
			&.col-md-#{$num}
				+card-width($screen-md-width, $num)

+screen-min-width($screen-lg-width)
	.card.modal
		+card-width($screen-lg-width, 4)
		@for $num from 1 through $grid-columns
			&.col-lg-#{$num}
				+card-width($screen-lg-width, $num)
