=card-color($color, $light, $dark)
	$lighter: tint($color, 25%)
	$darker: shade($color, 25%)

	border-color: $darker

	header
		+linear-gradient(0deg, $color, $lighter)
		+text-shadow($darker)

		.close:active
			+text-shadow($darker, -$text-shadow-top)

	header, footer
		border-color: $lighter

	footer, &.alert
		background-color: $light
		color: $dark

	footer.btns
		background-color: $white

=card-width($screen, $cols, $margin: $block-spacing)
	width: #{$screen / $grid-columns * $cols - $margin * 2}

.card
	margin-bottom: $base-margin-bottom
	padding: $base-padding !important
	border-radius: $base-border-radius
	border: $base-border
	background: $white

	+box-shadow($gray)

	header
		background: inherit
		margin: (-$base-spacing / 2) (-$base-spacing) ($base-spacing / 2)
		padding: $base-padding
		color: $white
		border-bottom: $base-border
		+border-top-radius($base-border-radius)

		a
			color: $white
			text-decoration: none

	footer
		margin: ($base-spacing / 2) (-$base-spacing) (-$base-spacing / 2)
		padding: ($base-spacing / 2) $base-spacing
		border-top: $base-border
		+border-bottom-radius($base-border-radius)

		&.btns
			border-style: none
			+display(flex)

			.btn
				+flex(1 1)
				margin-right: $base-spacing

				&:last-child
					margin-right: 0

	&.modal
		+transition(visibility 0s linear 0.3s, opacity 0.3s ease)
		visibility: hidden
		opacity: 0
		position: fixed
		z-index: 201
		left: $block-spacing
		right: $block-spacing
		+box-shadow($gray, 6px, 4px, 12px, 6px)

		&.visible
			+transition-delay(0s)
			visibility: visible
			opacity: 1

		&.dim
			box-shadow: none

	&.alert
		header, footer
			display: none

	+card-color($gray, $light-gray, $dark-gray)

	&.blue
		+card-color($blue, $light-blue, $dark-blue)

	&.red
		+card-color($red, $light-red, $dark-red)

	&.yellow
		+card-color($yellow, $light-yellow, $dark-yellow)

	&.green
		+card-color($green, $light-green, $dark-green)

	&.purple
		+card-color($purple, $light-purple, $dark-purple)

	&.orange
		+card-color($orange, $light-orange, $dark-orange)

.overlay
	+transition(visibility 0s linear 0.3s, opacity 0.3s ease)
	visibility: hidden
	opacity: 0
	position: fixed
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	z-index: 200

	&.visible
		+transition-delay(0s)
		visibility: visible
		opacity: .7

	&.dim
		background: #666

.no-scroll
	height: 100%
	overflow: hidden

+screen-width($screen-sm-width)
	.card.modal
		+card-width($screen-sm-width, 12)
		box-sizing: border-box

+screen-width($screen-md-width)
	.card.modal
		+card-width($screen-md-width, 6)
		@for $num from 1 through $grid-columns
			&.col-md-#{$num}
				+card-width($screen-md-width, $num)
+screen-width($screen-lg-width)
	.card.modal
		+card-width($screen-lg-width, 4)
		@for $num from 1 through $grid-columns
			&.col-lg-#{$num}
				+card-width($screen-lg-width, $num)
