@mixin card-color($color, $light, $dark) {
	$lighter: lighten($color, 10%);
	$darker:  darken($color, 10%);

	border-color: $darker;

	header {
		@include linear-gradient(0deg, $color, $lighter);
		text-shadow: 1px 2px $darker;
	}

	footer, &.alert {
		background-color: $light;
		color: $dark;
	}
}

.card {
	margin-bottom: $base-margin-bottom;
	padding: $base-padding;
	border-radius: $base-border-radius;
	border: $base-border;
	background: $white;
	box-shadow: 2px 3px 1px $gray;

	header {
		background: inherit;
		margin: (-$base-spacing / 2) (-$base-spacing) ($base-spacing / 2);
		padding: $base-padding;
		color: $white;

		@include border-top-radius($base-border-radius);
	}

	footer {
		margin: 6px -12px -6px;
		padding: 6px 12px;
		border-radius: 0px 0px 6px 6px;
	}

	&.modal {
		visibility: hidden;
		position: fixed;
		z-index: 101;
		left: 12px;
		right: 12px;

		&.visible { visibility: visible; }
		&.dim { box-shadow: none; }
	}

	@include card-color($gray, $light_gray, $dark_gray);

	&.blue   { @include card-color($blue,   $light_blue,   $dark_blue);   }
	&.red    { @include card-color($red,    $light_red,    $dark_red);    }
	&.yellow { @include card-color($yellow, $light_yellow, $dark_yellow); }
	&.green  { @include card-color($green,  $light_green,  $dark_green);  }
	&.purple { @include card-color($purple, $light_purple, $dark_purple); }
	&.orange { @include card-color($orange, $light_orange, $dark_orange); }
}

.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;

	&.dim { background: rgba(63, 63, 63, 0.75); }
}

.no-scroll {
	height: 100%;
	overflow: hidden;
}

@media only screen and (min-width: #{$screen-sm-width}px) {
	.card.modal {
		left: 50%;
		margin-left: -#{$screen-sm-width / 2 - 12}px;
		width: #{$screen-sm-width - 24}px;
		box-sizing: border-box;
	}
}

@media only screen and (min-width: #{$screen-md-width}px) {
	.card.modal {
		margin-left: -#{$screen-md-width / 12 * 3 - 12}px;
		width: #{$screen-md-width / 12 * 6 - 24}px;

		&.wide {
			margin-left: -#{$screen-md-width / 12 * 4 - 12}px;
			width: #{$screen-md-width / 12 * 8 - 24}px;
		}
	}
}

@media only screen and (min-width: #{$screen-lg-width}px) {
	.card.modal {
		margin-left: -#{$screen-lg-width / 12 * 2 - 12}px;
		width: #{$screen-lg-width / 12 * 4 - 24}px;

		&.wide {
			margin-left: -#{$screen-lg-width / 12 * 4 - 12}px;
			width: #{$screen-lg-width / 12 * 8 - 24}px;
		}
	}
}