$white:  #FFFFFF;
$black:  #333333;

$gray:   #999999;
$blue:   #3366CC;
$red:    #DC3912;
$yellow: #FF9900;
$green:  #109618;
$purple: #990099;
$orange: #FF6600;

$light_gray:   #DDDDDD;
$light_blue:   #C1D0EF;
$light_red:    #F4C3B7;
$light_yellow: #FEE0B2;
$light_green:  #B6DFB9;
$light_purple: #E0B2E0;
$light_orange: #FFB280;

$dark_gray:   #444444;
$dark_blue:   darken($blue,   25%);
$dark_red:    darken($red,    20%);
$dark_yellow: darken($yellow, 30%);
$dark_green:  darken($green,  20%);
$dark_purple: darken($purple, 20%);
$dark_orange: darken($orange, 30%);