label {
	display: block;
	padding: ($base-spacing / 2) 0;
	font-weight: bold;
}

.checkbox, .radio {
	margin: 0px 0px $base-spacing 0px;

	label { font-weight: normal; }

	input[type="checkbox"], input[type="radio"] {
		margin: 0px 3px 0px 0px;
		padding: 0px;
	}

	&.inline {
		label {
			display: inline-block;
			margin: 0px 12px 0px 0px;
		}
	}
}

#{$all-text-inputs}, select {
	width: 100%;
	margin: 0 0 $base-margin-bottom;
	padding: $base-spacing;
	border-radius: $base-border-radius;
	border: $base-border;
	box-sizing: border-box;
	font-size: .75em;

	form.inline & {
		width: auto;
		margin-right: 3px;
	}
}

input, textarea, select, button {
	&:disabled {
		cursor: not-allowed;
	}

	&:focus {
		outline: none;
		box-shadow: 0 0 2px 2px $gray;
	}
}

textarea { vertical-align: top; }

select { height: $base-spacing * 2 + 1em + em(4); }