.lbl
	display: inline-block
	margin-bottom: $base-spacing / 4
	padding: $base-padding
	border-radius: $base-border-radius
	font-weight: $semi-bold

	+lbl-color($gray, $light-gray, $dark-gray)

	&.red, &.danger, &.error
		+lbl-color($red, $light-red, $dark-red)

	&.green, &.success
		+lbl-color($green, $light-green, $dark-green)

	&.blue, &.primary
		+lbl-color($blue, $light-blue, $dark-blue)

	&.cyan, &.info
		+lbl-color($cyan, $light-cyan, $dark-cyan)

	&.magenta
		+lbl-color($magenta, $light-magenta, $dark-magenta)

	&.yellow, &.warning
		+lbl-color($yellow, $light-yellow, $dark-yellow)

	&.purple
		+lbl-color($purple, $light-purple, $dark-purple)

	&.orange
		+lbl-color($orange, $light-orange, $dark-orange)
