@import 'variables'

=lbl-color($color)
	background-color: $color

.lbl
	display: inline-block
	margin-bottom: $base-spacing / 4
	padding: $base-padding
	border-radius: $base-border-radius
	color: $white
	font-weight: $semi-bold

	+lbl-color($gray)

	&.blue
		+lbl-color($blue)

	&.red
		+lbl-color($red)

	&.yellow
		+lbl-color($yellow)

	&.green
		+lbl-color($green)

	&.purple
		+lbl-color($purple)

	&.orange
		+lbl-color($orange)
