=list-color($color, $light, $dark)
	$lighter: tint($color, 25%)
	$darker: shade($color, 25%)

	border-color: $darker

	li
		border-color: $lighter

		&.header
			+linear-gradient(0deg, $color, $lighter)

	&.striped
		li:nth-child(odd)
			background-color: $light
			color: $dark

		li.header
			color: $white

ul.list
	padding: 0
	margin: 0 0 $base-margin-bottom
	border: $base-border
	border-radius: $base-border-radius
	border-width: 0 0 $base-border-width

	list-style: none

	+list-color($gray, $light-gray, $dark-gray)

	li
		padding: $base-padding
		border-top: $base-border

		&:first-child
			border-style: none
			+border-top-radius($base-border-radius)

		&:last-child
			+border-bottom-radius($base-border-radius)

		&.header
			color: $white

		.bdg
			float: right

	&.red, &.danger, &.error
		+list-color($red, $light-red, $dark-red)

	&.green, &.success
		+list-color($green, $light-green, $dark-green)

	&.blue, &.primary
		+list-color($blue, $light-blue, $dark-blue)

	&.cyan, &.info
		+list-color($cyan, $light-cyan, $dark-cyan)

	&.magenta
		+list-color($magenta, $light-magenta, $dark-magenta)

	&.yellow, &.warning
		+list-color($yellow, $light-yellow, $dark-yellow)

	&.purple
		+list-color($purple, $light-purple, $dark-purple)

	&.orange
		+list-color($orange, $light-orange, $dark-orange)
