ul.menu
	margin: (-$base-spacing / 4) 0
	padding: 0
	list-style: none
	background-color: $white

	li
		margin: ($base-spacing / 4) 0
		padding: $base-padding
		border-radius: $base-border-radius

		a
			text-decoration: none

		&.active
			color: $white

			a
				color: $white

	&.inline
		+clearfix

		li
			display: inline-block

		&.tabs
			margin-bottom: $base-margin-bottom
			border-bottom: $base-border

	+menu-color($gray, $light-gray)

	&.red, &.danger, &.error
		+menu-color($red, $light-red)

	&.green, &.success
		+menu-color($green, $light-green)

	&.blue, &.primary
		+menu-color($blue, $light-blue)

	&.cyan, &.info
		+menu-color($cyan, $light-cyan)

	&.magenta
		+menu-color($magenta, $light-magenta)

	&.yellow, &.warning
		+menu-color($yellow, $light-yellow)

	&.purple
		+menu-color($purple, $light-purple)

	&.orange
		+menu-color($orange, $light-orange)
