h1, h2, h3, h4, h5, h6 { margin: .75em 0 .25em; }

@for $num from 1 through 6 {
	h#{$num} { font-size: modular-scale(6 - $num); }
}

.lead {
	font-size: modular-scale(1);
	font-weight: 300;
}

small, .small {
	color: $gray;
	font-style: italic;
	font-weight: normal;
	font-size: modular-scale(-1);
	line-height: inherit;
}

.txt {
	&.blue   { color: $dark_blue;   background-color: $light_blue;   }
	&.red    { color: $dark_red;    background-color: $light_red;    }
	&.yellow { color: $dark_yellow; background-color: $light_yellow; }
	&.green  { color: $dark_green;  background-color: $light_green;  }
	&.purple { color: $dark_purple; background-color: $light_purple; }
	&.orange { color: $dark_orange; background-color: $light_orange; }
}

.lbl {
	display: inline-block;
	padding: $base-padding;
	border-radius: $base-border-radius;
	background-color: $gray;
	color: $white;

	&.sm { padding: $small-padding; border-radius: $small-border-radius; }
	&.lg { padding: $large-padding; border-radius: $large-border-radius; }

	&.blue   { background-color: $blue;   }
	&.red    { background-color: $red;    }
	&.yellow { background-color: $yellow; }
	&.green  { background-color: $green;  }
	&.purple { background-color: $purple; }
	&.orange { background-color: $orange; }
}