h1, h2, h3, h4, h5, h6 {
	margin: .75em 0 .25em;
	font-weight: $semi-bold;
}

@for $num from 1 through 6 {
	h#{$num} { font-size: modular-scale(6 - $num, 1em, $minor-third); }
}

.lead {
	font-size: modular-scale(2, 1em, $minor-third);
	font-weight: $light;
}

small, .small {
	color: $gray;
	font-size: modular-scale(-1);
	font-weight: normal;
	line-height: inherit;
}

a {
	color: $blue;
	text-decoration: underline;

	&:visited { color: $purple; }
}

.txt {
	&.blue   { color: $dark-blue;   background-color: $light-blue;   }
	&.red    { color: $dark-red;    background-color: $light-red;    }
	&.yellow { color: $dark-yellow; background-color: $light-yellow; }
	&.green  { color: $dark-green;  background-color: $light-green;  }
	&.purple { color: $dark-purple; background-color: $light-purple; }
	&.orange { color: $dark-orange; background-color: $light-orange; }
}

.lbl {
	display: inline-block;
	margin-bottom: $base-spacing / 4;
	padding: $base-padding;
	border-radius: $base-border-radius;
	background-color: $gray;
	color: $white;
	font-weight: $semi-bold;

	&.sm { padding: $small-padding; border-radius: $base-border-radius; }
	&.lg { padding: $large-padding; border-radius: $base-border-radius; }

	&.blue   { background-color: $blue;   }
	&.red    { background-color: $red;    }
	&.yellow { background-color: $yellow; }
	&.green  { background-color: $green;  }
	&.purple { background-color: $purple; }
	&.orange { background-color: $orange; }
}