=tooltip-color($color)
	.message
		background: $color

	&.top .pointer
		border-top-color: $color

	&.left .pointer
		border-left-color: $color

	&.right .pointer
		border-right-color: $color

	&.bottom .pointer
		border-bottom-color: $color

.tooltip
	position: absolute
	display: inline-block

	+tooltip-color($black)

	&.left, &.right
		.pointer
			top: 50%
			margin-top: -5px

	&.top, &.bottom
		.pointer
			left: 50%
			margin-left: -5px

	&.top
		padding-bottom: 5px

		.pointer
			bottom: 0
			border-bottom-width: 0

	&.left
		padding-right: 5px

		.pointer
			right: 0
			border-right-width: 0

	&.right
		padding-left: 5px

		.pointer
			left: 0
			border-left-width: 0

	&.bottom
		padding-top: 5px

		.pointer
			top: 0
			border-top-width: 0

	&.red, &.error, &.danger
		+tooltip-color($red)

	&.green, &.success
		+tooltip-color($green)

	&.blue, &.primary
		+tooltip-color($blue)

	&.cyan, &.info
		+tooltip-color($cyan)

	&.magenta
		+tooltip-color($magenta)

	&.yellow, &.warning
		+tooltip-color($yellow)

	&.purple
		+tooltip-color($purple)

	&.orange
		+tooltip-color($orange)

	.message
		border-radius: $base-border-radius
		padding: $base-padding
		color: $white

	.pointer
		position: absolute
		width: 0
		height: 0
		border-color: transparent
		border-style: solid
		border-width: 5px
