@import 'bourbon/bourbon';

@import 'color';
@import 'dimen';
@import 'style';

html, body {
	margin: 0px;
	padding: 0px;
	font-family: $base-font-family;
	font-size: $em-base;
}

.wrapper { margin: 0 $base-spacing; }

@media only screen and (min-width: #{$screen-sm-width}px) {
	.wrapper {
		width: em($screen-sm-width) - $base-spacing * 2;
		margin: 0 auto;

		&.fluid {
			width: inherit;
			margin: 0 $base-spacing;
		}
	}
}

@media only screen and (min-width: #{$screen-md-width}px) {
	.wrapper { width: em($screen-md-width) - $base-spacing * 2; }
}

@media only screen and (min-width: #{$screen-lg-width}px) {
	.wrapper { width: em($screen-lg-width) - $base-spacing * 2; }
}

@import 'text';
@import 'card';
@import 'grid';
@import 'form';
@import 'button';
@import 'table';
