@import 'bourbon/bourbon'

@import 'color'
@import 'dimen'
@import 'style'

html, body
	margin: 0px
	padding: 0px
	font-size: $base-font-size
	font-family: $base-font-family
	font-weight: $base-font-weight

.wrapper
	margin: 0 $base-spacing

	&.fluid
		width: inherit
		margin: 0 $base-spacing

	+screen-width($screen-sm-width)
		width: em($screen-sm-width) - $base-spacing * 2
		margin: 0 auto

	+screen-width($screen-md-width)
		width: em($screen-md-width) - $base-spacing * 2

	+screen-width($screen-lg-width)
		width: em($screen-lg-width) - $base-spacing * 2

@import 'text'
@import 'form'
@import 'table'

@import 'card'
@import 'menu'
@import 'grid'
@import 'button'
