%section#badges.nav
	%h3.section Badges

	%p
		Some text
		%span.bdg 0
		%span.bdg.red 1
		%span.bdg.green 2
		%span.bdg.blue 3
		%span.bdg.cyan 4
		%span.bdg.magenta 5
		%span.bdg.yellow 6
		%span.bdg.purple 7
		%span.bdg.orange 8
