%section#badges.nav
	%h3.section Badges
	%p Badges call out imporant details.
	%p
		Some text
		%span.bdg 0
		%span.bdg.primary 1
		%span.bdg.success 2
		%span.bdg.error 3
		%span.bdg.warning 4
		%span.bdg.info 5

	%h4 Buttons
	%p
		%a.btn
			= "Default"
			%i.bdg 0
