%section#buttons
    %h3.section Buttons

    %p
        %a.btn.lg Default
        %a.btn.lg.blue Blue
        %a.btn.lg.red Red
        %a.btn.lg.yellow Yellow
        %a.btn.lg.green Green
        %a.btn.lg.purple Purple
        %a.btn.lg.orange Orange

    %p
        %a.btn Default
        %a.btn.blue Blue
        %a.btn.red Red
        %a.btn.yellow Yellow
        %a.btn.green Green
        %a.btn.purple Purple
        %a.btn.orange Orange

    %p
        %a.btn.sm Default
        %a.btn.sm.blue Blue
        %a.btn.sm.red Red
        %a.btn.sm.yellow Yellow
        %a.btn.sm.green Green
        %a.btn.sm.purple Purple
        %a.btn.sm.orange Orange
