%section#cards
    %h3.section Cards

    .row
        .col-xs-12
            .card.collapsible
                %header Card
                %p Before they sold out pickled bicycle rights pabst. Biodiesel slow-carb cardigan ugh swag pop-up. Hella ethical etsy bushwick tofu forage. Hoodie cray cred, master cleanse squid brunch marfa polaroid man bun. Keytar forage synth mlkshk neutra. Sustainable gastropub pork belly, single-origin coffee 8-bit freegan cornhole wolf kale chips ennui direct trade fap franzen lomo. Kitsch tacos tote bag ramps, normcore before they sold out try-hard.
                %footer Footer
        .col-xs-6.col-md-4.col-lg-3
            .card.blue
                %header Blue
                Content
                %footer Footer
        .col-xs-6.col-md-4.col-lg-3
            .card.red
                %header Red
                Content
                %footer Footer
        .col-xs-6.col-md-4.col-lg-3
            .card.yellow
                %header Yellow
                Content
                %footer Footer
        .col-xs-6.col-md-4.col-lg-3
            .card.green
                %header Green
                Content
                %footer Footer
        .col-xs-6.col-md-4.col-lg-3
            .card.purple
                %header Purple
                Content
                %footer Footer
        .col-xs-6.col-md-4.col-lg-3
            .card.orange
                %header Orange
                Content
                %footer Footer

    .row
        .col-xs-12
            .card.alert Alert
        .col-xs-6.col-md-4.col-lg-3
            .card.alert.blue Blue
        .col-xs-6.col-md-4.col-lg-3
            .card.alert.red Red
        .col-xs-6.col-md-4.col-lg-3
            .card.alert.yellow Yellow
        .col-xs-6.col-md-4.col-lg-3
            .card.alert.green Green
        .col-xs-6.col-md-4.col-lg-3
            .card.alert.purple Purple
        .col-xs-6.col-md-4.col-lg-3
            .card.alert.orange Orange
