%head
	%title Barista Framework

	%link{ :rel => 'stylesheet', :href => '../../lib/fontawesome/css/font-awesome.min.css' }
	%link{ :rel => 'stylesheet', :href => '../css/barista.css' }
	-# %link{ :rel => 'stylesheet', :href => '../css/barista-effects.css' }

	%script{ :src => '../../lib/jquery/dist/jquery.min.js' }
	%script{ :src => '../js/barista.js' }

	:css
		h3.section { margin-top: 0; border-bottom: 1px solid #999; }
