%section#labels
    %h3.section Labels

    %p
        %span.lbl Default
        %span.lbl.blue Blue
        %span.lbl.red Red
        %span.lbl.yellow Yellow
        %span.lbl.green Green
        %span.lbl.purple Purple
        %span.lbl.orange Orange
