%section#labels
    %h3.section Labels

    %p
        Some text
        %span.lbl Default
        %span.lbl.red Red
        %span.lbl.green Green
        %span.lbl.blue Blue
        %span.lbl.cyan Cyan
        %span.lbl.magenta Magenta
        %span.lbl.yellow Yellow
        %span.lbl.purple Purple
        %span.lbl.orange Orange
