%section#lists
	%h3.section Lists

	.row
		.col-xs-12
			%ul.list.striped
				%li.header Heading
				%li
					= "Item"
					%i.bdg 0
				%li Item
				%li Item
		.col-xs-6.col-md-4.col-lg-3
			%ul.list.striped.red
				%li.header Heading
				%li Item
				%li Item
				%li Item
		.col-xs-6.col-md-4.col-lg-3
			%ul.list.striped.green
				%li.header Heading
				%li Item
				%li Item
				%li Item
		.col-xs-6.col-md-4.col-lg-3
			%ul.list.striped.blue
				%li.header Heading
				%li Item
				%li Item
				%li Item
		.col-xs-6.col-md-4.col-lg-3
			%ul.list.striped.cyan
				%li.header Heading
				%li Item
				%li Item
				%li Item
		.col-xs-6.col-md-4.col-lg-3
			%ul.list.striped.magenta
				%li.header Heading
				%li Item
				%li Item
				%li Item
		.col-xs-6.col-md-4.col-lg-3
			%ul.list.striped.yellow
				%li.header Heading
				%li Item
				%li Item
				%li Item
		.col-xs-6.col-md-4.col-lg-3
			%ul.list.striped.purple
				%li.header Heading
				%li Item
				%li Item
				%li Item
		.col-xs-6.col-md-4.col-lg-3
			%ul.list.striped.orange
				%li.header Heading
				%li Item
				%li Item
				%li Item
