%section#menu.nav
	%h3.section Menu
	.row
		.col-sm-md-6.col-lg-4
			%ul.menu
				%li
					%a{ :href => '#' } Menu Item
				%li
					%a{ :href => '#' } Menu Item
				%li
					%a{ :href => '#' } Menu Item
		.col-sm-md-6.col-lg-4
			%ul.menu.primary
				%li
					%a{ :href => '#' } Menu Item
				%li
					%a{ :href => '#' } Menu Item
				%li
					%a{ :href => '#' } Menu Item
		.col-sm-md-6.col-lg-4
			%ul.menu.success
				%li
					%a{ :href => '#' } Menu Item
				%li
					%a{ :href => '#' } Menu Item
				%li
					%a{ :href => '#' } Menu Item
		.col-sm-md-6.col-lg-4
			%ul.menu.error
				%li
					%a{ :href => '#' } Menu Item
				%li
					%a{ :href => '#' } Menu Item
				%li
					%a{ :href => '#' } Menu Item
		.col-sm-md-6.col-lg-4
			%ul.menu.warning
				%li
					%a{ :href => '#' } Menu Item
				%li
					%a{ :href => '#' } Menu Item
				%li
					%a{ :href => '#' } Menu Item
		.col-sm-md-6.col-lg-4
			%ul.menu.info
				%li
					%a{ :href => '#' } Menu Item
				%li
					%a{ :href => '#' } Menu Item
				%li
					%a{ :href => '#' } Menu Item

	%h4.section Inline Menus

	%ul.menu.inline
		%li
			%a{ :href => '#' } Menu Item
		%li
			%a{ :href => '#' } Menu Item
		%li
			%a{ :href => '#' } Menu Item
	%ul.menu.inline.primary
		%li
			%a{ :href => '#' } Menu Item
		%li
			%a{ :href => '#' } Menu Item
		%li
			%a{ :href => '#' } Menu Item
	%ul.menu.inline.success
		%li
			%a{ :href => '#' } Menu Item
		%li
			%a{ :href => '#' } Menu Item
		%li
			%a{ :href => '#' } Menu Item
	%ul.menu.inline.error
		%li
			%a{ :href => '#' } Menu Item
		%li
			%a{ :href => '#' } Menu Item
		%li
			%a{ :href => '#' } Menu Item
	%ul.menu.inline.warning
		%li
			%a{ :href => '#' } Menu Item
		%li
			%a{ :href => '#' } Menu Item
		%li
			%a{ :href => '#' } Menu Item
	%ul.menu.inline.info
		%li
			%a{ :href => '#' } Menu Item
		%li
			%a{ :href => '#' } Menu Item
		%li
			%a{ :href => '#' } Menu Item
