%header.navbar
	.wrapper
		.icon
			%a Home
		#main-menu.menu
			%ul.nav
				%li
					%a{ 'data-action' => 'menu' }
						%span.navlbl First Item
					%ul
						%li
							%a First Sub-Item
						%li
							%a Second Sub-Item
						%li
							%a Third Sub-Item
				%li
					%a
						%span.navlbl Second Item
			%ul.nav.right
				%li
					%a
						%span.navlbl Special Item
					%ul
						%li
							%a Sub-Item
		%a.icon.more{ 'data-target' => '#main-menu', 'data-action' => 'toggle' }
			%i.fa.fa-bars
