%section#normalize
	%h3.section Normalize

	%p Normal Paragraph Text

	%h4 Lists

	%ol
		%li Numbered
		%li List
		%li Items

	%ul
		%li Bulleted
		%li List
		%li Items

	%ul
		%li Nested
		%ul
			%li List
			%li Items
		%li And more...

	%dl
		%dt Definition
		%dd Lorem ipsum dolor sit amet contectetur adipiscing elit
		%dt List Items
		%dd Lorem ipsum dolor sit amet contectetur adipiscing elit

	%h4 Tables

	%table
		%thead
			%tr
				%th Column 1
				%th Column 2
				%th Column 3
		%tbody
			%tr
				%td Cell 1
				%td Cell 2
				%td Cell 3
			%tr
				%td Cell 1
				%td Cell 2
				%td Cell 3
			%tr
				%td Cell 1
				%td Cell 2
				%td Cell 3
