%section#normlists.nav
	%h3.section Lists
	%p Top margins have been removed from lists
	%div.demo
		%ol
			%li Numbered
			%li List
			%li Items
		%ul
			%li Bulleted
			%li List
			%li Items
		%dl
			%dt Definition
			%dd Lorem ipsum dolor sit amet contectetur adipiscing elit
			%dt List
			%dd Lorem ipsum dolor sit amet contectetur adipiscing elit
			%dt Items
			%dd Lorem ipsum dolor sit amet contectetur adipiscing elit

	%h4 Nested Lists
	%p Bottom margins have been removed from nested lists
	%div.demo
		%ul
			%li Nested
			%ul
				%li List
				%li Items
			%li And more...

%section#normtables.nav
	%h3.section Tables
	%p Tables have been given horizontal lines by default
	%div.demo
		%table{ :style => 'width: 100%' }
			%thead
				%tr
					%th Column 1
					%th Column 2
					%th Column 3
			%tbody
				%tr
					%td Cell 1
					%td Cell 2
					%td Cell 3
				%tr
					%td Cell 1
					%td Cell 2
					%td Cell 3
				%tr
					%td Cell 1
					%td Cell 2
					%td Cell 3
