%nav{ 'style' => 'position: fixed' }
	%strong Normalize
	%ul
		%li
			%a.nav{ 'href' => 'index.html#typography' } Typography
		%li
			%a.nav{ 'href' => 'index.html#normlists' } Lists
		%li
			%a.nav{ 'href' => 'index.html#normtables' } Tables
		%li
			%a.nav{ 'href' => 'index.html#forms' } Forms
		%li
			%a.nav{ 'href' => 'index.html#colors' } Colors
	%strong Elements
	%ul
		%li
			%a.nav{ 'href' => 'index.html#buttons' } Buttons
		%li
			%a.nav{ 'href' => 'index.html#labels' } Labels
		%li
			%a.nav{ 'href' => 'index.html#badges' } Badges
		%li
			%a.nav{ 'href' => 'index.html#tooltip' } Tooltips
		%li
			%a.nav{ :href => 'index.html#menu' } Menus
	%strong Containers
	%ul
		%li
			%a.nav{ 'href' => 'index.html#tables' } Tables
		%li
			%a.nav{ 'href' => 'index.html#lists' } Lists
		%li
			%a.nav{ 'href' => 'index.html#cards' } Cards
		%ul
			%li
				%a.nav{ 'href' => 'index.html#modal' } Modals
		%li
			%a.nav{ 'href' => 'index.html#tabs' } Tabs
%span{ 'style' => 'font-size: 0; line-height: 0' } &nbsp;
