%nav{ 'style' => 'position: fixed' }
	%ul
		%li
			%a{ 'href' => '#typography' }
				Typography
		%li
			%a{ 'href' => '#buttons' }
				Buttons
		%li
			%a{ 'href' => '#labels' }
				Labels
		%li
			%a{ 'href' => '#badges' }
				Badges
		%li
			%a{ 'href' => '#tables' }
				Tables
		%li
			%a{ 'href' => '#lists' }
				Lists
		%li
			%a{ 'href' => '#cards' }
				Cards
		%li
			%a{ 'href' => '#tabs' }
				Tabs
		%li
			%a{ 'href' => '#modal' }
				Modal
		%li
			%a{ 'href' => '#forms' }
				Forms
		%li
			%a{ 'href' => '#tooltip' }
				Tooltips
%span{ 'style' => 'font-size: 0; line-height: 0' } &nbsp;
