%nav.sidebar
	%ul.menu.primary
		%h4 Normalize
		%li
			%a.nav{ :href => 'index.html#colors' } Colors
		%li
			%a.nav{ :href => 'index.html#typography' } Typography
		%li
			%a.nav{ :href => 'index.html#normlists' } Lists
		%li
			%a.nav{ :href => 'index.html#normtables' } Tables
		%li
			%a.nav{ :href => 'index.html#forms' } Forms
		%h4 Elements
		%li
			%a.nav{ :href => 'index.html#buttons' } Buttons
		%li
			%a.nav{ :href => 'index.html#labels' } Labels
		%li
			%a.nav{ :href => 'index.html#badges' } Badges
		%li
			%a.nav{ :href => 'index.html#blockquote' } Blockquote
		%h4 Containers
		%li
			%a.nav{ :href => 'index.html#tables' } Tables
		%li
			%a.nav{ :href => 'index.html#lists' } Lists
		%li
			%a.nav{ :href => 'index.html#cards' } Cards
		%li
			%a.nav{ :href => 'index.html#tabs' } Tabs
		%li
			%a.nav{ :href => 'index.html#menu' } Menus
		%h4 Behaviors
		%li
			%a.nav{ :href => 'index.html#collapse' } Collapse
		%li
			%a.nav{ :href => 'index.html#modal' } Modal
		%li
			%a.nav{ :href => 'index.html#confirm' } Confirm
		%li
			%a.nav{ :href => 'index.html#tooltip' } Tooltip
		%li
			%a.nav{ :href => 'index.html#target' } Target
%span{ 'style' => 'font-size: 0; line-height: 0' } &nbsp;
