%section#tables
    %h3.section Tables

    .row
        .col-xs-12
            .tabbar
                .tab Tab 1
                .tab Tab 2
                .tab Tab 3
                .tab Tab 4
                .tab Tab 5
                .tab.disabled Disabled
                .panel Panel 1
                .panel Panel 2
                .panel Panel 3
                .panel Panel 4
                .panel Panel 5
        .col-xs-6.col-md-4.col-lg-3
            .tabbar.red
                .tab Tab
                .tab Tab
                .tab Tab
                .tab Tab
                .panel Panel
                .panel Panel
                .panel Panel
                .panel Panel
        .col-xs-6.col-md-4.col-lg-3
            .tabbar.green
                .tab Tab
                .tab Tab
                .tab Tab
                .tab Tab
                .panel Panel
                .panel Panel
                .panel Panel
                .panel Panel
        .col-xs-6.col-md-4.col-lg-3
            .tabbar.blue
                .tab Tab
                .tab Tab
                .tab Tab
                .tab Tab
                .panel Panel
                .panel Panel
                .panel Panel
                .panel Panel
        .col-xs-6.col-md-4.col-lg-3
            .tabbar.cyan
                .tab Tab
                .tab Tab
                .tab Tab
                .tab Tab
                .panel Panel
                .panel Panel
                .panel Panel
                .panel Panel
        .col-xs-6.col-md-4.col-lg-3
            .tabbar.magenta
                .tab Tab
                .tab Tab
                .tab Tab
                .tab Tab
                .panel Panel
                .panel Panel
                .panel Panel
                .panel Panel
        .col-xs-6.col-md-4.col-lg-3
            .tabbar.yellow
                .tab Tab
                .tab Tab
                .tab Tab
                .tab Tab
                .panel Panel
                .panel Panel
                .panel Panel
                .panel Panel
        .col-xs-6.col-md-4.col-lg-3
            .tabbar.purple
                .tab Tab
                .tab Tab
                .tab Tab
                .tab Tab
                .panel Panel
                .panel Panel
                .panel Panel
                .panel Panel
        .col-xs-6.col-md-4.col-lg-3
            .tabbar.orange
                .tab Tab
                .tab Tab
                .tab Tab
                .tab Tab
                .panel Panel
                .panel Panel
                .panel Panel
                .panel Panel
