%section#tables
    %h3.section Tables

    .row
        .col-xs-12
            %table.table.striped
                %thead
                    %tr
                        %th Column
                        %th Column
                %tbody
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
        .col-xs-6.col-md-4.col-lg-3
            %table.table.striped.red
                %thead
                    %tr
                        %th Column
                        %th Column
                %tbody
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
        .col-xs-6.col-md-4.col-lg-3
            %table.table.striped.green
                %thead
                    %tr
                        %th Column
                        %th Column
                %tbody
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
        .col-xs-6.col-md-4.col-lg-3
            %table.table.striped.blue
                %thead
                    %tr
                        %th Column
                        %th Column
                %tbody
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
        .col-xs-6.col-md-4.col-lg-3
            %table.table.striped.cyan
                %thead
                    %tr
                        %th Column
                        %th Column
                %tbody
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
        .col-xs-6.col-md-4.col-lg-3
            %table.table.striped.magenta
                %thead
                    %tr
                        %th Column
                        %th Column
                %tbody
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
        .col-xs-6.col-md-4.col-lg-3
            %table.table.striped.yellow
                %thead
                    %tr
                        %th Column
                        %th Column
                %tbody
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
        .col-xs-6.col-md-4.col-lg-3
            %table.table.striped.purple
                %thead
                    %tr
                        %th Column
                        %th Column
                %tbody
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
        .col-xs-6.col-md-4.col-lg-3
            %table.table.striped.orange
                %thead
                    %tr
                        %th Column
                        %th Column
                %tbody
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
                    %tr
                        %td Cell
                        %td Cell
