%section#tables
    %h3.section Tables

    .tabbar
        .tab Tab 1
        .tab Tab 2
        .tab Tab 3
        .tab Tab 4
        .tab Tab 5
        .panel Panel 1
        .panel Panel 2
        .panel Panel 3
        .panel Panel 4
        .panel Panel 5

    .tabbar.red
        .tab.active Active
        .tab Tab
        .tab Tab
        .tab.disabled Disabled
    .tabbar.green
        .tab.active Active
        .tab Tab
        .tab Tab
        .tab.disabled Disabled
    .tabbar.blue
        .tab.active Active
        .tab Tab
        .tab Tab
        .tab.disabled Disabled
    .tabbar.cyan
        .tab.active Active
        .tab Tab
        .tab Tab
        .tab.disabled Disabled
    .tabbar.magenta
        .tab.active Active
        .tab Tab
        .tab Tab
        .tab.disabled Disabled
    .tabbar.yellow
        .tab.active Active
        .tab Tab
        .tab Tab
        .tab.disabled Disabled
    .tabbar.purple
        .tab.active Active
        .tab Tab
        .tab Tab
        .tab.disabled Disabled
    .tabbar.orange
        .tab.active Active
        .tab Tab
        .tab Tab
        .tab.disabled Disabled
