%section#target.nav
	%h3.section Target
	%p Link tags can load their hyperlink references into a targetted element instead of navigating to a new page.
	%p
		%a{ :target => '#link-target', :href => 'index.html' } Click Me
	.demo#link-target
