%section#text
    %h3.section Text

    %p.txt Default
    %p.txt.red Red
    %p.txt.green Green
    %p.txt.blue Blue
    %p.txt.cyan Cyan
    %p.txt.magenta Magenta
    %p.txt.yellow Yellow
    %p.txt.purple Purple
    %p.txt.orange Orange
