%section#tooltip
	%h3.section Tooltip

	%p
		%a{ 'title' => 'A nice tooltip', 'data-hover' => 'tooltip' } Hover above
	%p
		%a{ 'title' => 'A nice tooltip', 'data-hover' => 'tooltip', 'data-side' => 'right' } Hover right
	%p
		%a{ 'title' => 'A nice tooltip', 'data-hover' => 'tooltip', 'data-side' => 'bottom' } Hover below
	%p
		%a{ 'title' => 'A nice tooltip', 'data-hover' => 'tooltip', 'data-side' => 'left' } Hover left
