%section#tooltip
	%h3.section Tooltip

	%p
		%a{ 'title' => 'Tooltip above', 'data-hover' => 'tooltip' } Hover above
		%a{ 'title' => 'Tooltip below', 'data-hover' => 'tooltip', 'data-side' => 'bottom' } Hover below
	%p
		%a{ 'title' => 'Tooltip right', 'data-hover' => 'tooltip', 'data-side' => 'right' } Hover right
		%a{ 'title' => 'Tooltip left', 'data-hover' => 'tooltip', 'data-side' => 'left' } Hover left
