%section#tooltip.nav
	%h3.section Tooltip

	%p
		%a{ 'title' => 'Tooltip above', 'data-hover' => 'tooltip' } Hover above
		%a{ 'title' => 'Tooltip below', 'data-hover' => 'tooltip', 'data-side' => 'bottom' } Hover below
		%a{ 'title' => 'Tooltip right', 'data-hover' => 'tooltip', 'data-side' => 'right' } Hover right
		%a{ 'title' => 'Tooltip left', 'data-hover' => 'tooltip', 'data-side' => 'left' } Hover left
	%p
		%a.red{ 'title' => 'Red Tooltip', 'data-hover' => 'tooltip', 'data-color' => 'red' } Hover
		%a.green{ 'title' => 'Green Tooltip', 'data-hover' => 'tooltip', 'data-color' => 'green' } Hover
		%a.blue{ 'title' => 'Blue Tooltip', 'data-hover' => 'tooltip', 'data-color' => 'blue' } Hover
		%a.cyan{ 'title' => 'Cyan Tooltip', 'data-hover' => 'tooltip', 'data-color' => 'cyan' } Hover
		%a.magenta{ 'title' => 'Magenta Tooltip', 'data-hover' => 'tooltip', 'data-color' => 'magenta' } Hover
		%a.yellow{ 'title' => 'Yellow Tooltip', 'data-hover' => 'tooltip', 'data-color' => 'yellow' } Hover
		%a.purple{ 'title' => 'Purple Tooltip', 'data-hover' => 'tooltip', 'data-color' => 'purple' } Hover
		%a.orange{ 'title' => 'Orange Tooltip', 'data-hover' => 'tooltip', 'data-color' => 'orange' } Hover
