%section#typography.nav
	%h3.section Typography

	%p.lead Lead Text
	%p Main Body Text

	%h4.section Headings

	%h1
		Heading 1
		%small Small text
	%h2
		Heading 2
		%small Small text
	%h3
		Heading 3
		%small Small text
	%h4
		Heading 4
		%small Small text
	%h5
		Heading 5
		%small Small text
	%h6
		Heading 6
		%small Small text

	%h4.section Hyperlinks

	%p
		%a{ :href => '#' } Hyperlink
		%a.red{ :href => '#' } Red
		%a.green{ :href => '#' } Green
		%a.blue{ :href => '#' } Blue
		%a.cyan{ :href => '#' } Cyan
		%a.magenta{ :href => '#' } Magenta
		%a.yellow{ :href => '#' } Yellow
		%a.purple{ :href => '#' } Purple
		%a.orange{ :href => '#' } Orange
