%section#typography
    %h3.section Typography

    %h1
        Heading 1
        %small small text
    %h2
        Heading 2
        %small small text
    %h3
        Heading 3
        %small small text
    %h4
        Heading 4
        %small small text
    %h5
        Heading 5
        %small small text
    %h6
        Heading 6
        %small small text

    %p.lead Lead Text

    %p Normal Text

    %p
        %a{ :href => '#' } Hyperlink
