$white: #FFFFFF
$black: #333333

$gray: #999999
$red: #DC3912
$green: #109618
$blue: #3366CC
$cyan: #48ACDB
$magenta: #CD51AD
$yellow: #FFB800
$purple: #990099
$orange: #FF6600

$light-gray: #DDDDDD
$light-red: #F4C3B7
$light-green: #B6DFB9
$light-blue: #C1D0EF
$light-cyan: #BBE6F7
$light-magenta: #F7B4E4
$light-yellow: #FEE0B2
$light-purple: #E0B2E0
$light-orange: #FFCFAE

$dark-gray: #444444
$dark-red: darken($red, 20%)
$dark-green: darken($green, 20%)
$dark-blue: darken($blue, 25%)
$dark-cyan: darken($cyan, 30%)
$dark-magenta: darken($magenta, 25%)
$dark-yellow: darken($yellow, 30%)
$dark-purple: darken($purple, 20%)
$dark-orange: darken($orange, 30%)

$primary-color: $blue !default
$success-color: $green !default
$danger-color: $red !default
$error-color: $red !default
$warning-color: $yellow !default
$info-color: $cyan !default

$light-primary-color: $light-blue !default
$light-success-color: $light-green !default
$light-danger-color: $light-red !default
$light-error-color: $light-red !default
$light-warning-color: $light-yellow !default
$light-info-color: $light-cyan !default

$dark-primary-color: $dark-blue !default
$dark-success-color: $dark-green !default
$dark-danger-color: $dark-red !default
$dark-error-color: $dark-red !default
$dark-warning-color: $dark-yellow !default
$dark-info-color: $dark-cyan !default
