$base-spacing: 0.75em
$block-spacing: $block-base

$base-margin-bottom: $base-spacing * 2

$base-padding-vertical: $base-spacing / 2
$base-padding-horizontal: $base-spacing

$base-padding: $base-padding-vertical $base-padding-horizontal
$small-padding: ($base-spacing / 4) ($base-spacing / 2)
$large-padding: $base-spacing ($base-spacing * 1.5)
