.tabbar
	+tab-color($gray, $light-gray)

	.tab
		margin-right: -1px
		border-width: $base-border-width $base-border-width 0
		border-style: $base-border-style

	&.red
		+tab-color($red, $light-red)

	&.green
		+tab-color($green, $light-green)

	&.blue
		+tab-color($blue, $light-blue)

	&.cyan
		+tab-color($cyan, $light-cyan)

	&.magenta
		+tab-color($magenta, $light-magenta)

	&.yellow
		+tab-color($yellow, $light-yellow)

	&.purple
		+tab-color($purple, $light-purple)

	&.orange
		+tab-color($orange, $light-orange)
