@mixin grid-col-num($num) {
	width: percentage($num / $grid-columns);
}

.row {
	margin: 0px (-$base-spacing);

	@include clearfix;
}

$all-cols: ();

$sizes: xs sm md lg;
@each $size in $sizes {
	@for $num from 1 through $grid-columns {
		$all-cols: append($all-cols, ".col-#{$size}-#{$num}", comma);
	}
}

#{$all-cols} {
	position: relative;
	float: left;
	width: 100%;
	padding: 0 $base-spacing;
	box-sizing: border-box;
}

@for $num from 1 through $grid-columns {
	.col-xs-#{$num} { width: percentage($num / $grid-columns); }
}

@media only screen and (min-width: #{$screen-sm-width}px) {
	@for $num from 1 through $grid-columns {
		.col-sm-#{$num} { width: percentage($num / $grid-columns); }
	}
}

@media only screen and (min-width: #{$screen-md-width}px) {
	@for $num from 1 through $grid-columns {
		.col-md-#{$num} { width: percentage($num / $grid-columns); }
	}
}

@media only screen and (min-width: #{$screen-lg-width}px) {
	@for $num from 1 through $grid-columns {
		.col-lg-#{$num} { width: percentage($num / $grid-columns); }
	}
}