@import 'color';
@import 'dimen';

$base-border-radius: .5em;
$small-border-radius: $base-border-radius / 2;
$large-border-radius: $base-border-radius * 1.5;

$base-border-color: $gray;
$base-border-style: solid;
$base-border-width: 1px;

$base-border: $base-border-width $base-border-style $base-border-color;


$base-spacing: .75em;

$base-margin-bottom: $base-spacing;

$base-padding: ($base-spacing / 2) $base-spacing;
$small-padding: ($base-spacing / 4) ($base-spacing / 2);
$large-padding: $base-spacing ($base-spacing * 1.5);


$base-shadow-top:    3px !default;
$base-shadow-left:   2px !default;
$base-shadow-blur:   1px !default;
$base-shadow-spread: 0px !default;

@function box-shadow($color, $top: $base-shadow-top, $left: $base-shadow-left, $blur: $base-shadow-blur, $spread: $base-shadow-spread) {
	@return $left $top $blur $spread $color;
}

$text-shadow-top:  -1px !default;
$text-shadow-left: 0px !default;
$text-shadow-blur: 0px !default;

@function text-shadow($color, $top: $text-shadow-top, $left: $text-shadow-left, $blur: $text-shadow-blur) {
	@return $left $top $blur $color;
}


$base-font-size: $em-base;
$base-font-family: $helvetica;
$base-font-weight: normal;

$semi-bold: 500;
$light: 300;