@import '_color';

table {
	width: 100%;
	margin-bottom: 18px;
	border-collapse: separate;
	border-spacing: 0px;
	border-radius: 6px;

	th { font-weight: bold; }

	thead {
		th, td {
			padding: 6px 12px;
			border-bottom: 2px solid $gray;
			text-align: left;
		}

		tr:first-child {
			th:first-child, td:first-child { border-radius: 6px 0px 0px 0px; }
			th:last-child, td:last-child { border-radius: 0px 6px 0px 0px; }
		}
	}

	tbody {
		th, td {
			padding: 6px 12px;
			border-top: 1px solid $gray;
			text-align: left;
		}

		tr:hover {
			th, td { background-color: darken( $white, 15% ); }
		}

		tr:first-child {
			th, td { border-width: 0px; }
		}

		tr:last-child {
			th:first-child, td:first-child { border-radius: 0px 0px 0px 6px; }
			th:last-child, td:last-child { border-radius: 0px 0px 6px 0px; }
		}
	}

	&.outline { border: 1px solid $gray; }

	&.striped {
		tbody {
			tr:nth-child(even) {
				th, td { background-color: darken( $white, 7% );}

				&:hover {
					th, td { background-color: darken( $white, 20% ); }
				}
			}
		}
	}
}