@import 'bourbon/bourbon';

@import 'color';
@import 'dimen';
@import 'style';

html, body {
	margin: 0px;
	padding: 0px;
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
}

.wrapper {
	margin: 0 $base-spacing;

	@media only screen and (min-width: #{$screen-sm-width}px) {
		width: em($screen-sm-width) - $base-spacing * 2;
		margin: 0 auto;

		&.fluid {
			width: inherit;
			margin: 0 $base-spacing;
		}
	}

	@media only screen and (min-width: #{$screen-md-width}px) {
		width: em($screen-md-width) - $base-spacing * 2;
	}

	@media only screen and (min-width: #{$screen-lg-width}px) {
		width: em($screen-lg-width) - $base-spacing * 2;
	}
}

@import 'text';
@import 'form';
@import 'table';

@import 'card';
@import 'menu';
@import 'grid';
@import 'button';
